body {
    background-image: url("EastCoastTrailcopy.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right bottom;
}
/*navbar and logo*/
navbar-nav {
    text-decoration: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
    
}
.nav{
    width: 150px;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
.navbar-fixed-top{
    display: inline;
    height: 150px;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
.navAndLogo {
    height: 150px;
    width: 60%;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
.navcontainer{
    
    margin: 0px;
    border: 0px;
    padding: 0px;
}
.logo{
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    padding: 0px;
    top: 15px;
}