body {
    background-image: url("testBackground3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom right;
    margin: 0px;
    overflow/*-x*/: hidden;
}